input[type="text"] {
    width: 300px;
    height: 26px;
    margin: 10px;
}
button{
    height: 25px;
    background-color: rgba(175, 173, 169, 0.507);
    border: solid 1px;
    text-align: center;
}
