.container{
    border: solid 1px;
    margin-top: 10px;
    width: 50%;
    
}
.container .input{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
  
}
.container .input input{
    width: 200px;
    margin: none;
    padding: none;
}
.container button{
    margin-left: 250px;
    width: 150px;
    height: 50px;
}