@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;500;700&display=swap');
.Brandhome{
  font-weight: 700;
  font-size: 40px;
  font-family: Space Mono, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.containerlaptophome{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:auto;
  
}
.imageitem img{
  width: auto;
  height: 300px;
}
.boxlaptophome{
  justify-content: center;
  border: 1px solid grey;
  padding: 5px;
}
.laptopnamehome{
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;

}
.laptoppricehome{
  font-family:Arial, Helvetica, sans-serif ;
  color:rgb(22, 71, 218);
  text-align: center;
}
.buttonhome {
margin-left: 22.7%;
  --width: 163px;
  --height: 48px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  font-family: "Arial";
  transition:  0.7s;
  cursor: pointer;
}

.buttonhome::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.buttonhome::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.buttonhome::after,
.buttonhome::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.texthome {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button-wrapper,
.texthome,
.iconhome {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.texthome {
  top: 0;
}

.texthome,
.iconhome {
  transition: top 0.5s;
}

.iconhome {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconhome svg {
  width: 24px;
  height: 24px;
}

.buttonhome:hover {
  background: #e10404;
}

.buttonhome:hover .texthome {
  top: -100%;
}

.buttonhome:hover .iconhome {
  top: 0;
}

.buttonhome:hover:before,
.buttonhome:hover:after {
  opacity: 1;
  visibility: visible;
}

.buttonhome:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.buttonhome:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
.paddinghome{
  padding-bottom:6% ;
}
.Whatnew{
  font-size: 30px;
  padding-bottom: 3%;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .Brandhome {
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .boxlaptophome{
    justify-content: center;
    width: 188px;
    padding: 5px;
    margin-left: 1.1%;
    margin-bottom : 10%;
   
  }
  .containerlaptophome{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
  }
  .imageitem img{
    width: 80%;
    height: 80%;
  margin-left: 20px;
  }
  .buttonhome {
    --width: 92.3%; 
   margin-left: 3.92%;
  }

  .buttonhome::before {
    width: 100px; 
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 8px);
  }

  .buttonhome::after {
    left: calc(50% - 8px); 
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 8px); 
  }
  .laptoppricehome{
    font-family:Arial, Helvetica, sans-serif ;
    color:rgb(22, 71, 218);
    text-align: center;
    font-size: 50;
  }
  .Brandhome{
    font-weight: 700;
    font-size: 15px;
    font-family: Space Mono, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
}